[submodule "website"]
	path = docs/website
	url = git@github.com:LevitateOS/website.git
[submodule "recipe"]
	path = tools/recipe
	url = git@github.com:LevitateOS/recipe.git
[submodule "llm-toolkit"]
	path = llm-toolkit
	url = git@github.com:LevitateOS/llm-toolkit.git
[submodule "docs-content"]
	path = docs/content
	url = git@github.com:LevitateOS/docs-content.git
[submodule "leviso"]
	path = leviso
	url = git@github.com:LevitateOS/leviso.git
[submodule "linux"]
	path = linux
	url = git@github.com:LevitateOS/linux.git
	commit = 7d0a66e4bb9081d75c82ec4957c50034cb0ea449
[submodule "docs-tui"]
	path = docs/tui
	url = git@github.com:LevitateOS/docs-tui.git
[submodule "install-tests"]
	path = testing/install-tests
	url = git@github.com:LevitateOS/install-tests.git
[submodule "distro-spec"]
	path = distro-spec
	url = git@github.com:LevitateOS/distro-spec.git
[submodule "recstrap"]
	path = tools/recstrap
	url = git@github.com:LevitateOS/recstrap.git
[submodule "rootfs-tests"]
	path = testing/rootfs-tests
	url = git@github.com:LevitateOS/rootfs-test.git
[submodule "cheat-test"]
	path = testing/cheat-test
	url = https://github.com/LevitateOS/cheat-test.git
[submodule "cheat-guard"]
	path = testing/cheat-guard
	url = git@github.com:LevitateOS/cheat_guard.git
[submodule "recfstab"]
	path = tools/recfstab
	url = git@github.com:LevitateOS/recfstab.git
[submodule "recchroot"]
	path = tools/recchroot
	url = git@github.com:LevitateOS/recchroot.git
[submodule "leviso-elf"]
	path = leviso-elf
	url = git@github.com:LevitateOS/leviso-elf.git
[submodule "AcornOS"]
	path = AcornOS
	url = git@github.com:LevitateOS/AcornOS.git
[submodule "testing/hardware-compat"]
	path = testing/hardware-compat
	url = git@github.com:LevitateOS/hardware-compat.git
[submodule "distro-builder"]
	path = distro-builder
	url = git@github.com:LevitateOS/distro-builder.git
[submodule "tools/recinit"]
	path = tools/recinit
	url = git@github.com:LevitateOS/recinit.git
[submodule "tools/recuki"]
	path = tools/recuki
	url = git@github.com:LevitateOS/recuki.git
[submodule "tools/reciso"]
	path = tools/reciso
	url = git@github.com:LevitateOS/reciso.git
[submodule "tools/recqemu"]
	path = tools/recqemu
	url = git@github.com:LevitateOS/recqemu.git
[submodule "testing/fsdbg"]
	path = testing/fsdbg
	url = git@github.com:LevitateOS/fsdbg.git
[submodule "IuppiterOS"]
	path = IuppiterOS
	url = git@github.com:veighnsche/iuppiterOS.git
