[submodule "website"]
	path = website
	url = git@github.com:LevitateOS/website.git
[submodule "crates/installer"]
	path = crates/installer
	url = git@github.com:LevitateOS/installer.git
[submodule "crates/recipe"]
	path = crates/recipe
	url = git@github.com:LevitateOS/recipe.git
