[package]
name = "xtask"
version = "0.1.0"
edition = "2021"

# xtask runs on host, not the kernel target
[[bin]]
name = "xtask"
path = "src/main.rs"

[dependencies]
anyhow = "1.0"
clap = { version = "4.4", features = ["derive"] }
