[package]
name = "levitate-kernel"
version = "0.1.0"
edition = "2024"

[lints]
workspace = true

[features]
default = []
verbose = []  # Enable verbose boot messages for golden file testing

[dependencies]
levitate-hal = { path = "../levitate-hal" }
levitate-utils = { path = "../levitate-utils" }
linked_list_allocator = "0.10.5"
virtio-drivers = "0.12"
embedded-graphics = "0.8.1"
log = "0.4"
embedded-sdmmc = { version = "0.9", default-features = false }
ext4-view = { version = "0.9", default-features = false }

