[package]
name = "los_utils"
version = "0.1.0"
edition = "2024"

[lints]
workspace = true

[features]
default = []
std = []

[dependencies]
spin = { workspace = true }
hashbrown = { workspace = true }
